:root{
    --vermelho:#FF2E58;
    --preto:#282a36;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*menu principal*/
body{
    background: linear-gradient(to bottom, #1b0035, #000);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    
}
header .container{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;  
}

header .logo{
    
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    
    
}
header nav a {
    
    text-decoration: none;
    color: #AAA;
    margin-right: 30px;    
}
header nav a:hover{
    color: #fff;
}
/*Capa do site*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 100%), url('/img/capa.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}


.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    position: relative;
}
.titulo{
    position: relative;
    margin-top: 15%;
    font-size: 40px;
    font-family: 'trebuchet MS', Arial, Helvetica, sans-serif;
}
.botao{    
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'trebuchet MS', Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.botao:hover{
    background-color: white;
    color: black;
    transition: .3s ease all;
}
.botao i{
    margin-right: 8px;
}
.container{
    margin-left: 30px;
}
.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
.carrossel-filmes{
    margin-top: 10px;
}
.subtitulo{    
    font-size: 1.5rem;
    padding: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
